@charset "UTF-8";

@font-face {

    font-family: 'Sunflower';
    src: url('Sunflower') format('OpenType');
    font-weight: normal;
    font-style: italic;
}
body {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    border: none;
    color: #ffffff;
    width: 100%;
    

}

div#mainconteiner {

    max-width: 420px;
    height: 552px;

    padding: 50px;
    margin: auto;
    
    background-color: white;
}

h1 {

    font-family: 'Sunflower';
    text-align: center;

    color: #323232;
}

img#logoinsta {

    display: flex;
    
    margin: auto;
    padding-top: 55px;

    width: 174px;
    height: 50px;

}

img#logoface {

    width: 15px;
    height: 15px;
    
    align-items: center;

    padding-right: 5px;

}

.firstt {

    color: #3232329d;
    font-weight: bold;
    text-align: center;

    
    width: 267px;
    height: 40px;
    
    margin: auto;
    padding: 20px 0px 20px 0px;

}

p#nobottom {

    padding-bottom: 0px;

}

p#botaoface {

    background-color: #0095F6;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 75%;
    padding-top: 20px;
    margin: auto;

    font-family: 'Times New Roman', Times, serif;

    padding: 7px 0px 7px 0px;

    border-radius: 5px;

}

p#secondt {

    display: flex;
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
    width: 280px;
    color: #3232329d;
    padding: 10px 0px 5px 0px;
    margin: auto;

}

p#thirtt {

    display: flex;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    color: #3232329d;
    width: 280px;
    padding: 5px 0px 15px 0px;
    margin: auto;
    
}


input[type="submit"] {
    background-color: #0095F6;
    color: white;
    border-radius: 5px;
    border: none; 

    justify-content: center;
    font-size: 15px;

    padding: 10px;
    margin: auto;

    cursor: pointer;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    
    border-top: 0px;
    border-left: 0px;
    border: 0.5px;
    border-color: #323232c4;
    border-bottom-style: groove;

    padding: 10px;
    margin-bottom: 30px;

    font-size: .8rem;
   
    
}


input:focus {
    border-color: rgb(153, 50, 204);
}

.full-box {
    border: 0px 0px 1px 0px;
}

.lastconteiner {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 5px;
}

.lastconteiner > p {
    font-size: 15px;
    font-family:'Sunflower' Arial, Helvetica, sans-serif;
    color: #323232;
}

.lastconteiner > p > a {
    text-decoration: underline;
    color: #32749f;
}

