@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* NAV */
.navbar {
  background: rgba(0, 0, 0, 0.55) !important;
  backdrop-filter: blur(10px);
}

/* HERO */
.hero {
  min-height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("img/food.jpg") center/cover;
  background-attachment: fixed;
}

/* SOBRE */
.img-about {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* CARDS */
.card-carousel img {
  height: 180px;
  object-fit: cover;
}

/* FORM */
.form-box {
  background: white;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.312);
}

/* HERO SECUNDÁRIO */
.hero-section {
  height: 88vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("https://images.unsplash.com/photo-1510626176961-4b57d4fbad03")
      center/cover;
  background-attachment: fixed;
}

.service-card {
  transition: all 0.3s ease;
  border-radius: 12px;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.service-card {
  min-height: 260px;
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* Overlay usando só CSS */
.service-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.7)
  );
  z-index: 1;
}

.service-card .card-body {
  position: relative;
  z-index: 2;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3) !important;
}

/* Imagens */
.bg-card-1 {
  background-image: url("img/bem-estar.jpg");
}
.bg-card-2 {
  background-image: url("img/correndo.jpg");
}
.bg-card-3 {
  background-image: url("img/gravidez.jpg");
}
